/* Global Settings */
body {
	background-color: #f2f2f2;
	color: #767e9e;

	font-family: "Lato", Arial, sans-serif;
	font-weight: 400;
	line-height: 22px;
}
.container-fluid{
    padding-right:40px;
    padding-left: 40px;
}

h1, 
h2, 
h3 {
	font-family: "Lato", Arial, sans-serif;
}
.services-section,
.portfolio,
.about-section,
.quote-section {
    padding: 40px 0;

}
h1 {
	font-weight: 700;
}

h2, 
h3 {
	font-weight: 900;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 16px;
}

/* Navbar Section */
.navbar{
    background-color: #303441 !important;
    border-bottom: 6px solid #373b4a;
    font-family: 'Lato', sans-serif;
}

.logo{
    font-size: 25px;
    font-weight: 500;
    padding: 15px;
    color: white !important ;
    text-transform: uppercase;
}
a.logo:hover{
    opacity: 0.53;
}

.logo span{
    color: #ee5052;
}


.navbar-light .navbar-nav .nav-link{
    color: white;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    opacity: 0.53;
    color: white;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #ee5052;
}
.navbar-light .navbar-toggler{
    color: white;
}



#navbarNav ul li{
    margin-right: 20px;
    font-size: 13px;
}

.navbar i.fa{
    border: none;
}
.navbar-light .navbar-toggler{
    border: none;
    outline: none;
}


/* Image Slider section */

.banner {
	background-color: #eb5055;
	border-bottom: 6px solid #ea676b;
	overflow: hidden;
}

.flex-direction-nav a:before {
	font-size: 32px;
	line-height: 40px;
}

.flexslider {
	margin: 0;
	background: transparent;
	border: none;
	/* position: relative; */
}

.flex-direction-nav a {
	color: rgba(0,0,0,0.5);
	text-shadow: none;
}



/* Services Section */
.services-intro{
    margin-bottom: 20px;
}


.services-section{
	border-bottom: 5px solid grey;
}
.content{
    padding:0 10px;
}
.service-grid{
    padding :0 15px;
}
.icon{
    padding: 0;
}


.intro h2,
.services-section h3,
.portfolio h3,
.about-section h3,
.quote-section h3 {
	margin-top: 0;
}

.intro p,
.services-section p,
.portfolio p,
.about-section p,
.quote-section p {
	margin: 0;
}

.intro p {
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
}
.service-grid .item {
	margin-top: 32px;
}
.title{
    color: #515561 !important;
}
.icon-pencil,
.icon-bulb,
.icon-heart,
.icon-phone,
.icon-message,
.icon-star {
	display: inline-block;
	width: 59px;
	height: 59px;
	margin-bottom: 8px;
}

.icon-pencil {
	background: url('../imgs/custom-logo.png');
}

.icon-bulb {
	background: url('../imgs/inovative-logo.png');
}

.icon-heart {
	background: url('../imgs/love-logo.png') ;
}

.icon-phone {
	background: url('../imgs/responsive-logo.png') ;
}

.icon-message {
	background: url('../imgs/star-logo.png');
}

.icon-star {
	background: url('../imgs/support-logo.png');
}
@media screen and (max-width:633px){
    .service-grid{
        text-align: center;
    }
    .contact-information{
        margin-top: 20px;
    }
    .container-fluid{
        padding: 0 20px;
    }
}



/* About Section */
ul.employee-links{
    list-style-type: none;
    margin-top: 15px;
    padding: 0;
}
ul.employee-links li{
    display: inline-block;
    padding-right: 5px;

    
}
.employee-description h3{
    margin-top: 20px;
}
.about-intro{
    margin-bottom: 30px;
}

.employee-card img{
    width: 100%;
}

.intro{
    padding: 0;
}
.about-grid .item{
    padding: 0 10px;
}
.about-intro{
    padding: 0 10px;
}

.about-section{
    border-bottom: 6px solid #fff;
}

@media screen and (max-width:991px){
    .about-grid .employee-card img{
        max-width: 100%;
    }
    .about-padding{
        padding-left: 5px;
        margin-bottom: 15px;
    }
    .portfolio-links,.portfolio-intro{
        padding: 0 !important;
    }
    .quote-section{
        padding-left:0 10px ;
    }
    
}

@media screen and (max-width:575px){
    .about-padding{
        text-align: center;
        padding: 0 10px;
    }
    .portfolio-intro{
        padding: 0 10px;
    }
    .employee-description{
        text-align: center;
    }
    ul.employee-links{
        text-align: center;
    }
    .employee-card img{
        max-width: 50% !important;
        display: block;
        margin-left: auto;
    margin-right: auto;
    }
    body > section.portfolio > div > div:nth-child(2) > ul{
        padding: 0 20px;
    }
}

/* Portfolio Section */
.portfolio{
    background-color: #303441;
    border-bottom: 6px solid #373b4a;

}
body > section.portfolio > div > div:nth-child(2) > ul{
    margin-top: 15px;
}
.portfolio-links {
	/* margin: 32px 0 0 0; */
    list-style: none;
    padding: 0;
}

/* body > section.portfolio > div > div:nth-child(2) > ul, .portfolio-intro{
    text-align: center;
    margin: 0 auto;
} */

.portfolio-links li{
    display: inline-block;
}
.portfolio-links li a{
    border: 1px solid #767e9e;
	color: #767e9e;
	display: inline-block;
	height: 24px;
	line-height: 24px;
	padding: 0 8px;
	margin: 0 2px 6px;
	text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 300;
}
.portfolio-active{
    color: white !important;
    border: 1px solid #fff !important;
}


.grid-section{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 20px;
    margin:auto;
    padding-bottom: 50px;
}
.grid-section img{
    width: 100% ;
    margin: auto;
}
.portfolio-intro{
    padding-left: 0;
}
.grid-section a{
    
    transition: 0.5s ease-in;
}
.grid-section a:hover{
    transform: scale(1.1);
}
@media screen and (max-width:1270px){
    .grid-section{
        grid-template-columns: repeat(6,1fr) ;
    }
}


@media screen and (max-width:1201px){
    .grid-section{
        grid-template-columns: repeat(4,1fr);
    }
    .intro{
        padding-left: 10px;
    }
    .quote-intro{
        padding: 0;
    }
    body > section.portfolio > div > div:nth-child(2) > ul{
        padding-left: 10px;
    }

}
@media screen and (max-width:768px){
    .grid-section{
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 0;
    }
    .grid-section img{
        max-width: 80%;
    }
    .intro{
        text-align: center;
        padding:0 15px;
    }
    body > section.portfolio > div > div:nth-child(2) > ul{
        padding-left: 15px;
    }
    .portfolio-links{
        text-align: center;
    }
    body > section.portfolio > div > div:nth-child(2) > ul{
        margin: 15px auto;
    }
}

@media screen and (max-width:575px){
    .grid-section{
        grid-template-columns: repeat(2,1fr);
    }
    .grid-section img{
        max-width: 80%;
    }
    .intro{
        text-align: center;
        padding:0 15px;
    }
  
    /* img.img-center{
        margin: 0 auto !important;
} */
body > section.portfolio > div > div:nth-child(2) > ul{
    margin:15px auto ;
}
}

@media screen and (max-width:450px){
    .grid-section{
        grid-template-columns: repeat(1,1fr);
    }
    .grid-section img{
        max-width: 80%;
    }
}

/* Quote Section */

.quote-section{
	background-color: #eb5055;
	border-bottom: 6px solid #ea676b;
	color: #f0d8d9;
}
/* .quote-intro{
    padding:0 15px;
} */

.quote-intro{
    margin-bottom: 30px;
}

.quote-intro, .contact-information, .quote-form{
    padding: 0 10px !important;
}

.quote-form{
    padding: 0;
}
.quote-section a{
	color:#f0d8d9;
	text-decoration: none;
	padding-right: 5px;
}

.quote-form input,
.quote-form textarea {
	color: #f0d8d9;
	background-color: #ca4549;
	border: 0;
	padding: 8px 15px;
	border-radius: 5px;
	
}
.quote-form input{
	margin-bottom: 10px;
	outline: none;
}

.quote-form textarea{
	resize: none;
	height: 200px;
	outline: none;
}

.quote-form ::placeholder{
	color:#f48c8f;
}

.contact-information ul{
	list-style-type: none;
	padding: 0;
	margin: 15px 15px 15px 0;
}

.contact-information ul li i {
	width: 15px;
	text-align: center;
}
.contact-information ul li span {
	display: inline-block;
	margin-left: 8px;
}

@media screen and (max-width:575px){
	.contact-information{
		padding-top: 20px;
		text-align: center;
	}
	.quote-section .intro{
		text-align: center;
    }
    
    .float-right{
        float: none !important;
        text-align: center;
    }
    .copyright{
        text-align: center;
    }
}




/* Footer Section */

.footer-section{
    background:#303441;
    color: #666d89;
    padding: 20px;
}
footer a{
    color: #666d89;
}

footer .copyright a{
    text-decoration: none;
    color: #666d89;
}

.footer-links{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer-links li{
    display:inline-block;
}

.footer-links li a{
    border: 1px solid #666d89;
	color: #666d89;
	display: inline-block;
	line-height: 32px;
	margin: 0 2px;
	width: 32px;
	height: 32px;
    text-align: center;
    border-radius: 50%;
    float: right;
}

ul.footer-links{
    position: relative;
    right: 20;
}

.copyright-padding, .portfolio-links-padding{
    padding: 0;
}





